@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;

  transition: 0.5s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-title {
  font-size: 20px;
  opacity: .8;
}

.player-timeline {
  height: 10px;
  width: 350px;
  margin: 5px 0 10px 0;
  background-color: #fff;
  cursor: pointer;
}

.progress {
  background: coral;
  width: 0%;
  height: 100%;
  transition: 0.1s;
}

.player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.toggle-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.active-audio::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.player-time {
  display: flex;
}

.divider {
  margin: 0 5px;
}

.volume {
  position: relative;
  display: flex;
  align-items: center;  
}

.volume-line {
  height: 10px;
  width: 80px;
  margin: 0 0 0 5px;
  background-color: #fff;

  transition: 0.5s;
}

.volume-progress {
  background-color: coral;
  width: 0%;
  height: 100%;
}

.volume-icon {
  background-image: url("../assets/svg/volume-high.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.settings {
  position: absolute;
  display: none;
  color: #222;
  background-color: #fff;
  left: 20px;
  bottom: 62px;
  border-radius: 3px;
}

.setting {
  display: none;
}

.show-setting {
  display: block;
}

.settings::after {
  content: ''; 
  position: absolute; 
  left: 6px; 
  bottom: -20px;
  border: 10px solid transparent; 
  border-top: 10px solid #fff;  
}

.settings-list {
  border-right: 1px solid rgba(0,0,0,0.2);
}

.settings-item {
  font-size: 20px;
  padding: 10px 20px;
  text-align: left;
  opacity: 0.65;
  cursor: pointer;
}

.settings-active {
  opacity: 1;
  font-weight: 600;
}

.settings-view {
  padding: 10px 20px;
}

.settings-title {
  color: #222;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
}

.settings-description {
  padding: 5px  0 15px 0;
  text-align: left;
  opacity: 0.7;
}

.settings-icon {
  position: absolute;
  background-image: url("../assets/svg/settings.svg");
  left: 20px;
}

.languges-item,
.photos-item,
.block-item {
  padding: 3px 0;
  opacity: 0.8;
}

.languges-item {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.photos-item {
  display: flex;
  justify-content: space-between;
}

.block-item {
  display: flex;
  justify-content: space-between;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
